<div class="map"
leaflet
[leafletOptions]="options"
[leafletLayersControl]="layersControl">
  <div [leafletLayers]="points"></div>
</div>

<div class='my-legend'>
  <div class='legend-title'>pm2.5 color legend (µg/m³)</div>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background:#ffffff;'></span>0</li>
        <li><span style='background:#0012ff;'></span></li>
        <li><span style='background:#0024ff;'></span></li>
        <li><span style='background:#0036ff;'></span></li>
        <li><span style='background:#0047ff;'></span></li>
        <li><span style='background:#0059ff;'></span></li>
        <li><span style='background:#006bff;'></span></li>
        <li><span style='background:#007dff;'></span></li>
        <li><span style='background:#008fff;'></span></li>
        <li><span style='background:#00a1ff;'></span></li>
        <li><span style='background:#00b3ff;'></span>5</li>
        <li><span style='background:#00c4ff;'></span></li>
        <li><span style='background:#00e8ff;'></span></li>
        <li><span style='background:#00faff;'></span></li>
        <li><span style='background:#00fff2;'></span></li>
        <li><span style='background:#00ffe0;'></span></li>
        <li><span style='background:#00ffcf;'></span></li>
        <li><span style='background:#00ffbd;'></span></li>
        <li><span style='background:#00ffab;'></span></li>
        <li><span style='background:#00ffab;'></span></li>
        <li><span style='background:#00ff87;'></span>10</li>
        <li><span style='background:#00ff63;'></span></li>
        <li><span style='background:#00ff52;'></span></li>
        <li><span style='background:#00ff40;'></span></li>
        <li><span style='background:#00ff2e;'></span></li>
        <li><span style='background:#00ff1c;'></span></li>
        <li><span style='background:#00ff00;'></span></li>
        <li><span style='background:#1aff00;'></span></li>
        <li><span style='background:#2bff00;'></span></li>
        <li><span style='background:#3dff00;'></span></li>
        <li><span style='background:#4fff00;'></span>15</li>
        <li><span style='background:#66ff00;'></span></li>
        <li><span style='background:#78ff00;'></span></li>
        <li><span style='background:#8aff00;'></span></li>
        <li><span style='background:#9cff00;'></span></li>
        <li><span style='background:#b3ff00;'></span></li>
        <li><span style='background:#c4ff00;'></span></li>
        <li><span style='background:#e8ff00;'></span></li>
        <li><span style='background:#faff00;'></span></li>
        <li><span style='background:#fff200;'></span></li>
        <li><span style='background:#ffe000;'></span>20</li>
        <li><span style='background:#ffd600;'></span></li>
        <li><span style='background:#ffcc00;'></span></li>
        <li><span style='background:#ffc200;'></span></li>
        <li><span style='background:#ffb800;'></span></li>
        <li><span style='background:#ffad00;'></span></li>
        <li><span style='background:#ffa300;'></span></li>
        <li><span style='background:#ff9900;'></span></li>
        <li><span style='background:#ff8f00;'></span></li>
        <li><span style='background:#ff8500;'></span></li>
        <li><span style='background:#ff7a00;'></span>25</li>
        <li><span style='background:#ff7000;'></span></li>
        <li><span style='background:#ff6600;'></span></li>
        <li><span style='background:#ff5c00;'></span></li>
        <li><span style='background:#ff5200;'></span></li>
        <li><span style='background:#ff4700;'></span></li>
        <li><span style='background:#ff3d00;'></span></li>
        <li><span style='background:#ff2e00;'></span></li>
        <li><span style='background:#ff1f00;'></span></li>
        <li><span style='background:#ff0f00;'></span></li>
        <li><span style='background:#ff0000;'></span>30</li>
      </ul>
    </div>
  </div>